package {{packageName}};

import java.util.Arrays;

import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;

import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;

{{#imports}}
{{.}}
{{/imports}}

@Entity
public class {{className}} {

{{#fields}}
  {{#isId}}
  @Id
  //@GeneratedValue(strategy = GenerationType.IDENTITY)
  {{/isId}}
  private {{simpleTypeName}} {{name}};

{{/fields}}
{{! begin feature: getter methods }}
{{#fields}}
  public {{simpleTypeName}} {{getterName}}() {
    return {{name}};
  }
{{^-last}}

{{/-last}}
{{/fields}}
{{! end feature: getter methods }}

{{! begin feature: setter methods }}
{{#fields}}
  public void {{setterName}}({{simpleTypeName}} {{name}}) {
    this.{{name}} = {{name}};
  }
{{^-last}}

{{/-last}}
{{/fields}}
{{! end feature: setter methods }}

{{#enums}}
  public enum {{name}} {
    {{#options}}
    {{name}}("{{value}}"){{^-last}},{{/-last}}{{#-last}};{{/-last}}
    {{/options}}

    private final String value;

    @JsonValue
    private {{name}}(String value) {
      this.value = value;
    }

    @JsonCreator
    public static {{name}} fromValue(String value) {
      return Arrays.stream({{name}}.values())
        .filter(entry -> entry.value)
        .findFirst()
        .get();
    }
  }
{{/enums}}
}