package {{packageName}};

{{#hasEnumFields}}
import java.util.Arrays;
{{/hasEnumFields}}
{{#hasJsonFields}}
import javax.persistence.Column;
{{/hasJsonFields}}
import javax.persistence.Entity;
import javax.persistence.Id;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
{{#hasOneToMany}}
import javax.persistence.CascadeType;
import javax.persistence.OneToMany;
import java.util.ArrayList;
{{/hasOneToMany}}
{{#hasManyToOneSide}}
import javax.persistence.FetchType;
{{/hasManyToOneSide}}
{{#hasManyToOneAnnotation}}
import javax.persistence.ManyToOne;
{{/hasManyToOneAnnotation}}
{{#hasEnumFields}}
import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;
{{/hasEnumFields}}
{{#hasJsonFields}}
import com.vladmihalcea.hibernate.type.json.JsonType;
import org.hibernate.annotations.Type;
import org.hibernate.annotations.TypeDef;
import org.hibernate.annotations.TypeDefs;
{{/hasJsonFields}}
{{#imports}}
{{.}}
{{/imports}}

@Entity
{{#hasJsonFields}}
@TypeDefs({
    @TypeDef(name = AuthFile.JSON, typeClass = JsonType.class)
})
{{/hasJsonFields}}
public class {{className}} {

{{#hasJsonFields}}
  public static final String JSON = "json";

{{/hasJsonFields}}
{{#fields}}
  {{#isId}}
  @Id
  @GeneratedValue(strategy = GenerationType.IDENTITY)
  {{/isId}}
  {{#isOneToMany}}
  @OneToMany(cascade = { CascadeType.PERSIST, CascadeType.MERGE }, mappedBy = "{{entityNameCamel}}")
  {{/isOneToMany}}
  {{#isManyToOne}}
  @ManyToOne
  {{/isManyToOne}}
  {{#isJson}}
  @Type(type = JSON)
  @Column(columnDefinition = JSON)
  {{/isJson}}
  private {{{simpleTypeName}}} {{name}}{{#isOneToMany}}= new ArrayList<>(){{/isOneToMany}};

{{/fields}}
{{#manyToOneSideModels}}
  @ManyToOne(fetch = FetchType.LAZY)
  private {{name}} {{nameCamel}};

{{/manyToOneSideModels}}
{{! begin feature: getter methods }}
{{#fields}}
  public {{{simpleTypeName}}} {{getterName}}() {
    return {{name}};
  }
{{^-last}}

{{/-last}}
{{/fields}}
{{! end feature: getter methods }}

{{! begin feature: setter methods }}
{{#fields}}
  public void {{setterName}}({{{simpleTypeName}}} {{name}}) {
    this.{{name}} = {{name}};
    {{#isOneToMany}}
    {{name}}.forEach({{associationModelName}} -> {{associationModelName}}.set{{className}}(this));
    {{/isOneToMany}}
  }
{{^-last}}

{{/-last}}
{{/fields}}

{{#manyToOneSideModels}}
  public void set{{name}}({{name}} {{nameCamel}}) {
    this.{{nameCamel}} = {{nameCamel}};
  }
{{/manyToOneSideModels}}
{{! end feature: setter methods }}
{{#enums}}
  public enum {{name}} {
    {{#options}}
    {{name}}("{{value}}"){{^-last}},{{/-last}}{{#-last}};{{/-last}}
    {{/options}}

    @JsonValue
    private final String value;

    private {{name}}(String value) {
      this.value = value;
    }

    @JsonCreator
    public static {{name}} fromValue(String value) {
      return Arrays.stream({{name}}.values())
        .filter(entry -> entry.value.equals(value))
        .findFirst()
        .get();
    }
  }
{{/enums}}
}
