package {{packageName}};

import org.springframework.stereotype.Repository;
//import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.repository.CrudRepository;
import java.lang.Iterable;
import java.util.List;
import java.util.Optional;

{{#imports}}
import {{.}};
{{/imports}}

//@Repository
public interface {{className}} extends CrudRepository<{{entityType}}, {{entityIdType}}> {

  List<{{entityType}}> findAll();

  List<{{entityType}}> findAllById(Iterable<{{entityIdType}}> ids);
  {{#manyToOneSideModels}}

  List<{{entityType}}> findBy{{name}}IsNull();
  {{/manyToOneSideModels}}
}