package {{packageName}};

import org.springframework.stereotype.Service;
import java.util.List;
import java.util.Optional;
{{#imports}}
import {{.}};
{{/imports}}

@Service
public class {{className}} {

  private final {{repositoryType}} {{repositoryName}};
  private final {{dtoConverterType}} {{dtoConverterName}};
  {{#fields}}
    {{#isOneToMany}}
  private final {{associationModelType}}Repository {{associationModelName}}Repository;
    {{/isOneToMany}}
  {{/fields}}

  public {{className}}({{repositoryType}} {{repositoryName}}, {{dtoConverterType}} {{dtoConverterName}}{{#hasOneToManyFields}},{{/hasOneToManyFields}}
    {{#oneToManyFields}}
      {{associationModelType}}Repository {{associationModelName}}Repository{{^-last}},{{/-last}}
    {{/oneToManyFields}}) {
    this.{{repositoryName}} = {{repositoryName}};
    this.{{dtoConverterName}} = {{dtoConverterName}};
    {{#oneToManyFields}}
    this.{{associationModelName}}Repository = {{associationModelName}}Repository;
    {{/oneToManyFields}}
  }

  public List<{{dtoType}}> findAll() {
    return {{repositoryName}}.findAll()
        .stream()
        .map(this::convert)
        .toList();
  }
  {{#manyToOneSideModels}}

  public List<{{dtoType}}> findUnusedBy{{name}}() {
    return {{repositoryName}}.findBy{{name}}IsNull()
      .stream()
      .map(this::convert)
      .toList();
  }
  {{/manyToOneSideModels}}

  public Optional<{{dtoType}}> findById({{entityIdType}} id) {
    return {{repositoryName}}.findById(id)
        .map(this::convert);
  }

  public {{dtoType}} save({{dtoType}} {{dtoNameCamel}}) {

    {{entityType}} {{entityNameCamel}} = convert({{dtoNameCamel}});

    {{#fields}}
      {{#isOneToMany}}
    var {{associationModelName}}Ids = {{dtoNameCamel}}.{{getterName}}().stream()
        .map({{associationModelType}}DTO::getId)
        .toList();

    var {{name}} = {{associationModelName}}Repository.findAllById({{associationModelName}}Ids);
      {{/isOneToMany}}
    {{/fields}}

    {{#fields}}
      {{#isOneToMany}}
    {{entityNameCamel}}.{{setterName}}({{name}});
      {{/isOneToMany}}
    {{/fields}}

    {{entityType}} saved{{entityType}} = {{repositoryName}}.save({{entityNameCamel}});

    return convert(saved{{entityType}});
  }

  public {{dtoType}} update(Long id, {{dtoType}} {{dtoNameCamel}}) {
    Optional<{{entityType}}> current{{entityType}} = {{repositoryName}}.findById(id);

    // reset any oneToMany relationships
    {{#oneToManyFields}}
    if (current{{entityType}}.isPresent()) {
      current{{entityType}}.get().{{getterName}}()
          .forEach({{associationModelType}} -> {{associationModelType}}.set{{entityType}}(null));
    }

    {{/oneToManyFields}}
    {{#oneToManyFields}}
    var {{associationModelName}}Ids = {{dtoNameCamel}}.{{getterName}}().stream()
        .map({{associationModelType}}DTO::getId)
        .toList();

    var {{name}} = {{associationModelName}}Repository.findAllById({{associationModelName}}Ids);
    {{/oneToManyFields}}

    {{entityType}} {{entityNameCamel}} = convert({{dtoNameCamel}});
    {{#oneToManyFields}}
    {{entityNameCamel}}.{{setterName}}({{name}});
    {{/oneToManyFields}}

    {{entityType}} saved{{entityType}} = {{repositoryName}}.save({{entityNameCamel}});

    return convert(saved{{entityType}});
}

  public Optional<{{dtoType}}> delete({{entityIdType}} id) {
    Optional<{{entityType}}> {{entityNameCamel}} = {{repositoryName}}.findById(id);

    if ({{entityNameCamel}}.isPresent()) {
      {{#fields}}
        {{#isOneToMany}}
      {{entityNameCamel}}.get().{{getterName}}()
        .forEach({{associationModelName}} -> {{associationModelName}}.set{{entityType}}(null));
        {{/isOneToMany}}
      {{/fields}}


      {{repositoryName}}.delete({{entityNameCamel}}.get());
    }

    return {{entityNameCamel}}.map(this::convert);
  }

  private {{entityType}} convert({{dtoType}} {{dtoNameCamel}}) {
    return {{dtoConverterName}}.convert({{dtoNameCamel}});
  }

  private {{dtoType}} convert({{entityType}} {{entityNameCamel}}) {
    return {{dtoConverterName}}.convert({{entityNameCamel}});
  }
}
