new {{dtoType}}();
    {{#fields}}
      {{#hasExample}}
        {{#isDouble}}
    {{dtoName}}.set{{nameCapitalised}}({{example}});
        {{/isDouble}}
        {{#isDate}}
    {{dtoName}}.set{{nameCapitalised}}(LocalDate.parse("{{example}}"));
        {{/isDate}}
        {{#isDateTime}}
    {{dtoName}}.set{{nameCapitalised}}(Instant.parse("{{example}}"));
        {{/isDateTime}}
        {{#isBoolean}}
    {{dtoName}}.set{{nameCapitalised}}({{example}});
        {{/isBoolean}}
        {{#isString}}
    {{dtoName}}.set{{nameCapitalised}}("{{example}}");
        {{/isString}}
        {{#isEnum}}
    {{dtoName}}.set{{nameCapitalised}}({{example}});
        {{/isEnum}}
      {{/hasExample}}
      {{#isOneToMany}}
    {{dtoName}}.set{{nameCapitalised}}(Collections.emptyList());
      {{/isOneToMany}}
    {{/fields}}
