import { Container, Nav, Navbar, Breadcrumb } from "react-bootstrap";
import { NavLink, Route, Routes, Link } from "react-router-dom";
import Entities from "./routes/entities";
import Home from "./routes/home";
{{#entities}}import Create{{nameCapitalised}} from "./routes/{{name}}/Create{{nameCapitalised}}";
import {{nameCapitalised}}List from "./routes/{{name}}/{{nameCapitalised}}List";
import View{{nameCapitalised}} from "./routes/{{name}}/View{{nameCapitalised}}";
import Edit{{nameCapitalised}} from "./routes/{{name}}/Edit{{nameCapitalised}}";
{{/entities}}

import useBreadcrumbs from "use-react-router-breadcrumbs";

export const App = () => {
  const breadcrumbs = useBreadcrumbs();
  return (
    <div>
      <Navbar bg="light">
        <Nav>
          <Nav.Link as={NavLink} to="/">
            Home
          </Nav.Link>
          <Nav.Link as={NavLink} to="/entities">
            Entities
          </Nav.Link>
        </Nav>
      </Navbar>

      <Breadcrumb>
        {breadcrumbs.map(({ match, breadcrumb }, i, {length}) =>
        <Breadcrumb.Item active={length - 1 === i} key={match.pathname} linkAs={Link} linkProps={ { to: match.pathname } }>{breadcrumb}</Breadcrumb.Item>
        )}
      </Breadcrumb>

      <Container className="py-2">
        <Routes>
          <Route path="/" element={<Home />} />
          <Route path="entities" element={<Entities />} />
          {{#entities}}
          <Route path="entities/{{name}}/create" element={<Create{{nameCapitalised}} />} />
          <Route path="entities/{{name}}" element={<{{nameCapitalised}}List />} />
          <Route path="entities/{{name}}/:id" element={<View{{nameCapitalised}} />} />
          <Route path="entities/{{name}}/:id/edit" element={<Edit{{nameCapitalised}} />} />
          {{/entities}}
        </Routes>
      </Container>
    </div>
  );
};