import Form from "@rjsf/bootstrap-4";
import { useNavigate, Link } from "react-router-dom";
import { useEffect, useState } from "react";
import { Button } from "react-bootstrap";
{{#entity.hasJsonFields}}
import JsonFileUploadWidget from "../../utils/JsonFileUploadWidget";
{{/entity.hasJsonFields}}

export default function Create{{entity.nameCapitalised}}() {
  const navigate = useNavigate();
  {{#entity.relationalFields}}
  {{#isOneToMany}}
  const [{{name}}, set{{nameCapitalised}}] = useState([]);
  {{/isOneToMany}}
  {{#isManyToOne}}
  const [{{name}}List, set{{nameCapitalised}}List] = useState([]);
  {{/isManyToOne}}
  {{/entity.relationalFields}}
  {{#entity.hasRelationalFields}}
  useEffect(() => {
    const fetchData = async () => {
      const [{{#entity.relationalFields}}{{name}}Response{{^-last}}, {{/-last}}{{/entity.relationalFields}}] = await Promise.all([
      {{#entity.relationalFields}}
      {{#isOneToMany}}
        fetch(`http://localhost:8080/{{associationEntityType}}/unusedBy{{entity.nameCapitalised}}`).then(response => response.json()){{^-last}},{{/-last}}
      {{/isOneToMany}}
      {{#isManyToOne}}
        fetch(`http://localhost:8080/{{associationEntityType}}`).then(response => response.json()){{^-last}},{{/-last}}
      {{/isManyToOne}}
      {{/entity.relationalFields}}
      ]);

      {{#entity.relationalFields}}
      console.log({{name}}Response);
      {{#isOneToMany}}
      set{{nameCapitalised}}({{name}}Response);
      {{/isOneToMany}}
      {{#isManyToOne}}
      set{{nameCapitalised}}List({{name}}Response);
      {{/isManyToOne}}
      {{/entity.relationalFields}}
    };

    fetchData();
  }, []);
  {{/entity.hasRelationalFields}}
  {{#entity.fields}}
  {{#isOneToMany}}
  console.log({{name}});
  {{/isOneToMany}}
  {{/entity.fields}}
  const submitForm = ({ formData }) => {
    console.log(JSON.stringify(formData));

    {{#entity.relationalFields}}
      {{#isOneToMany}}
    formData.{{name}} = formData.{{name}}.map(
      id => {{name}}.find({{associationEntityType}} => {{associationEntityType}}.id === id)
    );
      {{/isOneToMany}}
      {{#isManyToOne}}
    formData.{{name}} = {{name}}List.find({{associationEntityType}} => {{associationEntityType}}.id === formData.{{name}});
      {{/isManyToOne}}
    {{/entity.relationalFields}}

    fetch("http://localhost:8080/{{entity.name}}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(formData)
    })
      .then(response => {
        if (!response.ok) {
          throw Error(response.statusText);
        }
        return response;
      })
      .then(response => console.log(response))
      .then(() => navigate("/entities/{{entity.nameCapitalised}}"))
      .catch(error => console.log(error));
  };

  const schema = {{{schema}}};
  const uiSchema = {
    {{#entity.jsonFields}}
    "{{name}}" : { "ui:widget": "jsonFileUploadWidget" }{{^-last}},{{/-last}}
    {{/entity.jsonFields}}
  };
  {{#entity.hasJsonFields}}

  const widgets = {
    "jsonFileUploadWidget": JsonFileUploadWidget
  };
  {{/entity.hasJsonFields}}
  {{#entity.fields}}
    {{#isRelational}}
  if ({{name}}{{#isManyToOne}}List{{/isManyToOne}}.length > 0) {
      {{#isOneToMany}}
    schema.properties.{{name}}.items.enum = {{name}}.map(item => item.id);
    schema.properties.{{name}}.items.enumNames = {{name}}.map(item => JSON.stringify(item));
      {{/isOneToMany}}
      {{#isManyToOne}}
    schema.properties.{{name}}.oneOf = {{name}}List.map(item => ({ "title": JSON.stringify(item), "enum": [ item.id ]}));
      {{/isManyToOne}}
  } else {
    uiSchema.{{name}} = {
      "ui:disabled": true,
      "ui:addable": false,
      "ui:description": (
        <div>
          There are currently no unused {{name}}.{" "}
          <Button variant="info" size="sm" as={Link} to={"/entities/{{associationEntityType}}"}>
            Add
          </Button>
        </div>
      ),
      "ui:label": false
    };
  }
    {{/isRelational}}
  {{/entity.fields}}

  return (<Form schema={schema} onSubmit={submitForm} uiSchema={uiSchema} {{#entity.hasJsonFields}}widgets={widgets}{{/entity.hasJsonFields}} />);
};
