import Form from "@rjsf/bootstrap-4";
import { useNavigate, Link } from "react-router-dom";
import { useEffect, useState } from "react";
import { Button } from "react-bootstrap";

export default function Create{{model.nameCapitalised}}() {
  const navigate = useNavigate();

  {{#model.fields}}
  {{#isOneToMany}}
  const [{{name}}, set{{nameCapitalised}}] = useState([]);
  {{/isOneToMany}}
  {{/model.fields}}

  {{#model.hasOneToManyFields}}
  useEffect(() => {
    const fetchData = async () => {
      const [{{#model.oneToManyFields}}{{name}}Response{{^-last}}, {{/-last}}{{/model.oneToManyFields}}] = await Promise.all([
      {{#model.oneToManyFields}}
        fetch(`http://localhost:8080/{{associationModelType}}/unusedBy{{model.nameCapitalised}}`).then(response => response.json()){{^-last}},{{/-last}}
      {{/model.oneToManyFields}}
      ]);

      {{#model.oneToManyFields}}
      set{{nameCapitalised}}({{name}}Response);
      {{/model.oneToManyFields}}
    };

    fetchData();
  }, []);
  {{/model.hasOneToManyFields}}

  {{#model.fields}}
  {{#isOneToMany}}
  console.log({{name}});
  {{/isOneToMany}}
  {{/model.fields}}

  const submitForm = ({ formData }) => {
    console.log(JSON.stringify(formData));

    {{#model.fields}}
      {{#isOneToMany}}
    formData.{{name}} = formData.{{name}}.map(
      id => {{name}}.find({{associationModelType}} => {{associationModelType}}.id === id)
    );
      {{/isOneToMany}}
    {{/model.fields}}

    fetch("http://localhost:8080/{{model.name}}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(formData)
    })
      .then(response => {
        if (!response.ok) {
          throw Error(response.statusText);
        }
        return response;
      })
      .then(response => console.log(response))
      .then(() => navigate("/entities/{{model.nameCapitalised}}"))
      .catch(error => console.log(error));
  };

  const schema = {{{schema}}};
  const uiSchema = {};

  {{#model.fields}}
    {{#isOneToMany}}
  if ({{name}}.length > 0) {
    schema.properties.{{name}}.items.enum = {{name}}.map(item => item.id);
    schema.properties.{{name}}.items.enumNames = {{name}}.map(item => JSON.stringify(item));
  } else {
    uiSchema.{{name}} = {
      "ui:disabled": true,
      "ui:addable": false,
      "ui:description": (
        <div>
          There are currently no unused {{name}}.{" "}
          <Button variant="info" size="sm" as={Link} to={"/entities/{{associationModelType}}"}>
            Add
          </Button>
        </div>
      ),
      "ui:label": false
    };
  }
    {{/isOneToMany}}
  {{/model.fields}}

  return (<Form schema={schema} onSubmit={submitForm} uiSchema={uiSchema} />);
};