import Form from "@rjsf/bootstrap-4";
import { useEffect, useState } from "react";
import { useParams, Link } from "react-router-dom";
import { Button } from "react-bootstrap";
import { replaceNullsWithUndefined } from "../../utils/Utils.js";
{{#entity.hasJsonFields}}
import JsonFileUploadWidget from "../../utils/JsonFileUploadWidget";
{{/entity.hasJsonFields}}

export default function Edit{{entity.nameCapitalised}}() {
  const [formData, setFormData] = useState(null);
  const { id } = useParams();

{{#entity.relationalFields}}
  {{#isOneToMany}}
  const [{{name}}, set{{nameCapitalised}}] = useState([]);
  {{/isOneToMany}}
  {{#isManyToOne}}
  const [{{name}}List, set{{nameCapitalised}}List] = useState([]);
  {{/isManyToOne}}
{{/entity.relationalFields}}

  useEffect(() => {
    const fetchData = async () => {
      const [current{{entity.nameCapitalised}}{{#entity.hasRelationalFields}}, {{/entity.hasRelationalFields}}{{#entity.relationalFields}}{{name}}Response{{^-last}}, {{/-last}}{{/entity.relationalFields}}] = await Promise.all([
          fetchExisting(id){{#entity.hasRelationalFields}}, {{/entity.hasRelationalFields}}
          {{#entity.relationalFields}}
            {{#isOneToMany}}
          fetch(`http://localhost:8080/{{associationEntityType}}/unusedBy{{entity.nameCapitalised}}`).then(response => response.json()){{^-last}},{{/-last}}
            {{/isOneToMany}}
            {{#isManyToOne}}
          fetch(`http://localhost:8080/{{associationEntityType}}`).then(response => response.json()){{^-last}},{{/-last}}
            {{/isManyToOne}}
          {{/entity.relationalFields}}
      ]);

      setFormData(current{{entity.nameCapitalised}});
      {{#entity.relationalFields}}
        {{#isOneToMany}}
      set{{nameCapitalised}}({{name}}Response);
        {{/isOneToMany}}
        {{#isManyToOne}}
      set{{nameCapitalised}}List({{name}}Response);
        {{/isManyToOne}}
      {{/entity.relationalFields}}
    };

    fetchData();
  }, []);

  const submitForm = ({ formData }) => {
    {{#entity.relationalFields}}
      {{#isOneToMany}}
    formData.{{name}} = formData.{{name}}.map(
      id => {{name}}.find({{associationEntityType}} => {{associationEntityType}}.id === id)
    );
      {{/isOneToMany}}
      {{#isManyToOne}}
    formData.{{name}} = {{name}}List.find({{associationEntityType}} => {{associationEntityType}}.id === formData.{{name}});
      {{/isManyToOne}}
    {{/entity.relationalFields}}
    fetch("http://localhost:8080/{{entity.name}}/" + id, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(formData)
    }).then(response => console.log(response));
  };

  const schema = {{{schema}}};
  const uiSchema = {
    {{#entity.jsonFields}}
    "{{name}}" : { "ui:widget": "jsonFileUploadWidget" }{{^-last}},{{/-last}}
    {{/entity.jsonFields}}
  };
  {{#entity.hasJsonFields}}

  const widgets = {
    "jsonFileUploadWidget": JsonFileUploadWidget
  };
  {{/entity.hasJsonFields}}
  {{#entity.relationalFields}}
  if ({{name}}{{#isManyToOne}}List{{/isManyToOne}}.length > 0) {
    {{#isOneToMany}}
    schema.properties.{{name}}.items.enum = {{name}}.map(item => item.id);
    schema.properties.{{name}}.items.enumNames = {{name}}.map(item => JSON.stringify(item));
    {{/isOneToMany}}
    {{#isManyToOne}}
    schema.properties.{{name}}.oneOf = {{name}}List.map(item => ({ "title": JSON.stringify(item), "enum": [ item.id ]}));
    {{/isManyToOne}}
  } else {
    uiSchema.comments = {
      "ui:disabled": true,
      "ui:addable": false,
      "ui:description": (
        <div>
          There are currently no {{name}}.{" "}
          <Button as={Link} to={"/entities/{{associationEntityType}}"}>
            Add
          </Button>
        </div>
      ),
      "ui:label": false
    };
  }
  {{/entity.relationalFields}}
  return (<Form schema={schema} formData={formData} onSubmit={submitForm} uiSchema={uiSchema} {{#entity.hasJsonFields}}widgets={widgets}{{/entity.hasJsonFields}} />);
};

const fetchExisting = (id) => {
  return fetch(`http://localhost:8080/{{entity.name}}/${id}`)
      .then(response => response.json())
      .then(data => replaceNullsWithUndefined(data))
      {{#entity.hasRelationalFields}}
      .then(data => ({
        ...data,
        {{#entity.relationalFields}}
          {{#isOneToMany}}
        {{name}}: data.{{name}}.map({{associationEntityType}} => {{associationEntityType}}.id){{^-last}},{{/-last}}
          {{/isOneToMany}}
          {{#isManyToOne}}
        {{name}}: data.{{name}}.id{{^-last}},{{/-last}}
          {{/isManyToOne}}
        {{/entity.relationalFields}}
      })){{/entity.hasRelationalFields}};
};
