import Form from "@rjsf/bootstrap-4";
import { useEffect } from "react";

export default function Create{{model.nameCapitalised}}() {
  const submitForm = ({ formData }) => {
    console.log(JSON.stringify(formData));

    fetch("http://localhost:8080/{{model.name}}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(formData)
    }).then(response => console.log(response));
  };

  const schema = {{{schema}}};
  return (<Form schema={schema} onSubmit={submitForm} />);
};