import { useEffect, useState } from "react";
import Table from "react-bootstrap/Table";
import Card from "react-bootstrap/Card";
import Button from "react-bootstrap/Button";
import Form from "react-bootstrap/Form";
import { Link } from "react-router-dom";
import DeleteModal from "../../utils/DeleteModal";
import DeleteButton from "../../utils/DeleteButton";
{{#entity.hasJsonFields}}
import { JsonViewer } from "@textea/json-viewer";
import { JSON_VIEWER_THEME } from "../../utils/JsonViewerTheme";
{{/entity.hasJsonFields}}
{{#entity.hasRelationalFields}}
import { JsonViewer } from "@textea/json-viewer";
import { JSON_VIEWER_THEME } from "../../utils/JsonViewerTheme";
{{/entity.hasRelationalFields}}
export default function {{entity.nameCapitalised}}List() {
  let [{{entity.name}}List, set{{entity.nameCapitalised}}List] = useState([]);

  const [showDelete, setShowDelete] = useState(false);
  const [deleteId, setDeleteId] = useState(null);
  const hideDelete = () => setShowDelete(false);
  const handleDeleteShow = deleteId => {
    setShowDelete(true);
    setDeleteId(deleteId);
  };

  useEffect(() => {
    fetch("http://localhost:8080/{{entity.name}}")
    .then(response => response.json())
    .then(data => {
      set{{entity.nameCapitalised}}List(data);
    });
  },[]);

  const tableHeaders = [
    {{#entity.fields}}
      "{{name}}"{{^-last}},{{/-last}}
    {{/entity.fields}}
  ];

  console.log({{entity.name}}List);
  const rows = {{entity.name}}List.map({{entity.name}} => createRow({{entity.name}}, tableHeaders, handleDeleteShow));

  const performDelete = deleteId => {
    console.log("Deleting: ", deleteId);
    fetch(`http://localhost:8080/{{entity.name}}/${deleteId}`, {
      method: "DELETE"
    })
      .then(() => set{{entity.nameCapitalised}}List({{entity.name}}List.filter({{entity.name}} => {{entity.name}}.id !== deleteId)))
      .then(() => setDeleteId(null))
      .then(() => hideDelete());
  };

  return (
    <Card>
      <Card.Header className="d-flex justify-content-between align-items-center">
        <h4 className="m-0 font-weight-normal">{{entity.nameCapitalised}}</h4>
        <Button as={Link} to="/entities/{{entity.name}}/create">
          Create a {{entity.nameCapitalised}}
        </Button>
      </Card.Header>
      <Table responsive>
        <thead>
          <tr>
            {tableHeaders.map(header => <th key={header}>{header}</th>)}
            <th></th>
          </tr>
        </thead>

        <tbody>
          {rows}
        </tbody>
      </Table>

      <DeleteModal
          show={showDelete}
          title="Delete {{entity.nameCapitalised}}"
          body={`Are you sure you want to delete {{entity.nameCapitalised}}: ${deleteId}`}
          hide={hideDelete}
          action={() => performDelete(deleteId)}
      />
    </Card>);
};

const createRow = ({{entity.name}}, tableHeaders, handleDeleteShow) => {
  return (
    <tr key={ {{entity.name}}.id }>
      {{#entity.fields}}
        <td key="{{name}}" className="align-middle" style={ {"lineHeight": "1em"} }>
        {{#displayAsText}}
          { {{entity.name}}["{{name}}"] }
        {{/displayAsText}}
        {{^displayAsText}}
          {{#isDate}}
            { {{entity.name}}["{{name}}"] && new Date({{entity.name}}["{{name}}"]).toLocaleString()}
          {{/isDate}}
          {{#isBoolean}}
            <i className={ {{entity.name}}["{{name}}"] ? "bi bi-check-lg text-success" : ""} style={ { "fontSize": "2em", "lineHeight": "1em"} }></i>
          {{/isBoolean}}
          {{#isRelational}}
            {{#isOneToMany}}
              { {{entity.name}}["{{name}}"].map({{associationEntityType}} => <div key={ {{associationEntityType}}.id }>{create{{associationEntityTypeCapitalised}}({{associationEntityType}})}</div>) }
            {{/isOneToMany}}
            {{#isManyToOne}}
              { create{{associationEntityTypeCapitalised}}({{entity.name}}["{{name}}"]) }
            {{/isManyToOne}}
          {{/isRelational}}
          {{#isJson}}
            <JsonViewer editable={false}
                        value={ JSON.parse({{entity.name}}["{{name}}"]) }
                        defaultInspectDepth={0}
                        rootName={false}
                        displayDataTypes={false}
                        collapseStringsAfterLength={false}
                        theme={JSON_VIEWER_THEME} />
          {{/isJson}}
        {{/displayAsText}}
        </td>
      {{/entity.fields}}
      <td>
        <div className="float-right">
          <Button as={Link} to={"/entities/{{entity.name}}/" + {{entity.name}}.id} variant="info" size="sm">
            <i className="bi bi-eye-fill pr-1"></i>
            View</Button>
          <Button className="mx-sm-1" as={Link} to={"/entities/{{entity.name}}/" + {{entity.name}}.id + "/edit"} variant="primary" size="sm">
            <i className="bi bi-pencil-fill pr-1"></i>
            Edit</Button>
          <DeleteButton id={ {{entity.name}}.id } handleDeleteShow={handleDeleteShow} />
        </div>
      </td>
    </tr>
  );
};

{{#entity.fields}}
  {{#isRelational}}
const create{{associationEntityTypeCapitalised}} = ({{associationEntityType}}) => {
  if ({{associationEntityType}} === undefined) {
    return ("-");
  }
  //const {id} = {{associationEntityType}};
  //return (
  //  <Link to={"/entities/{{associationEntityType}}/" + id}>{JSON.stringify({{associationEntityType}})}</Link>
  //);

  return (<JsonViewer editable={false}
                      value={ {{associationEntityType}} }
                      defaultInspectDepth={0}
                      rootName={false}
                      displayDataTypes={false}
                      collapseStringsAfterLength={false}
                      theme={JSON_VIEWER_THEME}/>);
};
  {{/isRelational}}
{{/entity.fields}}
