{
  "name": "{{projectName}}",
  "source": "src/index.html",
  "scripts": {
    "start": "parcel",
    "build": "parcel build"
  },
  "devDependencies": {
    "parcel": "^2.5.0"
  },
  "dependencies": {
    "@rjsf/bootstrap-4": "^4.1.1",
    "@rjsf/core": "^4.1.1",
    "bootstrap": "4",
    "react": "^18.0.0",
    "react-bootstrap": "^2.3.0",
    "react-dom": "^18.0.0",
    "react-router-dom": "^6.3.0"
  }
}
