{
  "name": "{{projectName}}",
  "source": "src/index.html",
  "scripts": {
    "start": "parcel",
    "build": "parcel build"
  },
  "devDependencies": {
    "parcel": "^2.5.0"
  },
  "dependencies": {
    "@rjsf/bootstrap-4": "^4.1.1",
    "@rjsf/core": "^4.2.3",
    "@textea/json-viewer": "2.10.0",
    "bootstrap": "4",
    "bootstrap-icons": "1.8.2",
    "react": "^18.0.0",
    "react-bootstrap": "^1.6.6",
    "react-dom": "^18.0.0",
    "react-router-dom": "^6.3.0",
    "use-react-router-breadcrumbs": "^3.2.1"
  }
}
