import Form from "@rjsf/bootstrap-4";
import { useEffect, useState } from "react";
import { useParams } from "react-router-dom";
import { replaceNullsWithUndefined } from "../../utils/Utils.js";

export default function View{{model.nameCapitalised}}() {
  const { id } = useParams();

  const [formData, setFormData] = useState(null);

  useEffect(() => {
    fetch(`http://localhost:8080/{{model.name}}/${id}`)
      .then(response => response.json())
      .then(data => replaceNullsWithUndefined(data))
      {{#model.hasRelationalFields}}
      .then(data => ({
        ...data,
        {{#model.relationalFields}}
          {{#isOneToMany}}
        {{name}}: data.{{name}}.map({{associationModelType}} => JSON.stringify({{associationModelType}})){{^-last}},{{/-last}}
          {{/isOneToMany}}
          {{#isManyToOne}}
        {{name}}: JSON.stringify(data.{{name}})
          {{/isManyToOne}}
        {{/model.relationalFields}}
        }))
      {{/model.hasRelationalFields}}
    .then(data => setFormData(data));
  },[]);

  const schema = {{{schema}}};

  const uiSchema = {
   "ui:submitButtonOptions": {
      "norender": true,
    }
  };

  return (<Form schema={schema} formData={formData} uiSchema={uiSchema} readonly  disabled/>);
};
